.btn-prim {
  background: #00235b !important;
  border: none !important;
  font-size: 15px !important;
  margin-right: 15px;
}
.table-area {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background: white;
}

.vertical {
  border-left: 0.5px dotted black;
  margin-right: 10px;
}
.col-entity {
  min-width: 20% !important;
}

.action-row * {
  margin-left: 6px;
  visibility: hidden;
}
tr:hover * {
  visibility: visible;
}
.btn-section {
  display: flex;
  justify-content: space-between;
}
.searchInputTable {
  width: 88%;
}
.patternModal .modal-content {
  background: #f5f6fa;
}
.createPatternSection {
  /* display: flex; */
  /* height: 44px; */
  width: 100%;
  justify-content: space-between;
}
.patternInputArea {
  height: 100%;
  width: 90%;
  background: #eaebf1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border: 0.1px solid #c9eeff;
}
.patternInputArea:hover {
  background: #ddf9fd;
  border: 1px solid #52c8ff;
}

.patternInput {
  height: 100%;
  width: 100%;
  background: none;
  margin-left: 10px;
  z-index: 2;
  position: relative;
  caret-color: black;
}
.patternInput::selection {
  background-color: #52c8ff;
  color: white;
}
#codeText::-webkit-scrollbar {
  display: none;
}
#codeText {
  border: none;
}
.closeBtn {
  background: #f5f6fa !important;
  color: black !important;
  border: 1px solid #ccedfc !important;
}
.closeBtn:hover {
  background: #ccedfc !important;
}
.dropdown-menu-import-excel {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: -10px !important;
  width: auto;
}
.icon-import {
  margin-right: 10px;
}
.ant-pagination-item {
  display: inline-grid !important;
  align-items: center !important;
  text-align: center !important;
}
.ant-pagination-item-link {
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
}
.nofollow {
  margin-right: auto !important;
  margin-left: auto !important;
}
.loadding {
  width: 20px !important;
  font-size: 10px !important;
  height: 20px !important;
}
