.filterModal .modal-content {
  background: #ffff !important;
  border-radius: 15px;
}
.title {
  font-size: 17px;
  font-weight: 600;
}
.time-picker-area {
  border: 0.5px solid #ccedfc;
  background: #f5f6fa;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.time-picker-area:hover {
  background: #ddf9fd;
  border: 1px solid #52c8ff;
}
.inputTitle {
  font-size: 13px;
}
.time-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date-picker {
  width: 45%;
}
.btn-section-modal {
  display: flex;
  justify-content: end;
}
